#ubl-section-post {
  // .post-four-layout-2 {
  //   flex-direction: row-reverse;
  // }
  &.ubl-post-four-post {
    .column-count.post-four-layout-1 {
      // display: block;
      > div {
        flex: 1;
        &.column-two {
          display: block;
          .post-content {
            min-height: 196px;
          }
          > article {
            // max-height: 200px;
          }
          > div {
            display: flex;
            > article {
              display: block;
            }
          }
        }
      }
    }
  }
  .column-count.post-four-layout-2 {
    > div {
      flex: 1;
      &.column-one {
        display: block;
        .post-content {
          min-height: 196px;
        }
        > article {
          // max-height: 200px;
        }
        > div {
          display: flex;
          > article {
            display: block;
          }
        }
      }
    }
  }
  .post-four-layout-3 {
    &.content-placed-outer {
      .post-wrapper {
        flex-direction: column;
      }
      .post-content {
        min-height: unset;
      }
      .featured-image {
        position: relative;
        min-height: 322px;
      }
    }
  }
  .column-count.post-four-layout-4 {
    article.block-post-article {
      width: 25%;
    }
    &.content-placed-outer {
      .post-wrapper {
        flex-direction: column;
      }
      .post-content {
        min-height: unset;
      }
      .featured-image {
        position: relative;
        min-height: 322px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
#ubl-section-post.ubl-post-four-post .column-count.post-four-layout-1 > div,
#ubl-section-post .column-count.post-four-layout-2 > div {
  flex: auto;
}
#ubl-section-post .column-count.post-four-layout-4 article.block-post-article{
  width:50%;
}
}