// dimension tool
.ul-dimension-tool {
  display: flex;
  margin: 16px 0 0 0;
  .tools_ {
    flex: 1;
    display: flex;

    > div {
      flex: 1;
      width: 42px;
      border: 1px solid #e0e0e0;
      border-right: none;
      &:first-child {
        border-radius: 4px 0 0 4px;
      }
      &:last-child {
        border-right: 1px solid #e0e0e0;
        border-radius: 0 4px 4px 0;
      }
      input {
        max-width: 100%;
        border: none;
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
      &.link_dimension {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        color: #606060;
        cursor: pointer;
        background: #efeffd;

        &.linked {
          background: transparent;
          span {
            &:before {
              content: "\f103";
            }
          }
        }
        span {
          display: flex;
          &:before {
            content: "\f225";
            font-family: "dashicons";
          }
        }
      }
    }
  }
}
// assets switcher nav
.ul-top-nav {
  margin: -16px;
  display: flex;
  > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    &.active {
      background: #ebebeb;
      border-bottom: 2px solid #007cba;
    }
  }
  // secondary nav
  &.secondary-nav {
    margin: 0;
    border: 1px solid #dcdbdb;
    border-right: none;
    > div {
      padding: 4px;
      border: none;
      border-right: 1px solid #dcdbdb;
      &.active {
        border: none;
        border-right: 1px solid #dcdbdb;
      }
    }
  }
  // secondary nav
}

// animation popup
.ul-animation-tool {
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
  .ul-animation-tool-toggle-btn {
    width: 100%;
    color: #565656;
    box-shadow: inset 0 0 0 1px #9d9d9d;
    position: relative;
    &:after {
      display: block;
      position: absolute;
      right: 8px;
      content: "\f140";
      font-family: "dashicons";
      font-size: 18px;
    }
  }
  select {
    width: 100%;
  }
  .anim_title_ {
    background: transparent;
    margin: 5px 0;
    padding: 0;
  }
}
.ul-animation-popup {
  .components-popover__content {
    padding: 10px;
    min-width: 225px;
    .components-menu-group {
      max-height: 250px;
      overflow-y: auto;
      margin-top: 8px;
    }
    .no_animation_found {
      padding: 10px 0;
    }
    .search-wrap_ {
      margin: 0;
      display: flex;
      flex-direction: column;
      grid-gap: 6px;
      .search-wrap_heading {
        color: #707070;
      }
    }
  }
}
// background color and image
.ubl-background-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .types_ {
    display: flex;
    border: 1px solid #b1b1b1;
    border-right: none;
    > div {
      border-right: 1px solid #b1b1b1;
      padding: 7px 9px;
      cursor: pointer;
      color: #505050;
      display: flex;
      position: relative;
      &.selected {
        background-color: #ebebeb;
      }
      &::before {
        content: attr(data-title);
        position: absolute;
        top: -30px;
        right: 0;
        background: black;
        padding: 4px;
        border-radius: 2px;
        color: white;
        opacity: 0;
        transition: 0.2s all linear;
      }
      &:hover {
        &::before {
          opacity: 1;
        }
      }
    }
    .buttons_ {
      width: unset;
      height: unset;
      font-size: 15px;
    }
  }
}
// bg solid or gradient
.ubl-switcher-bg-clr-gradient {
  display: flex;
  margin: 12px 0;
  position: relative;
  border: 1px solid #504f4f;
  padding: 4px;
  border-radius: 2px;
  .bg-span {
    background-color: black;
    width: 50%;
    position: absolute;
    left: 2px;
    top: 2px;
    height: calc(100% - 4px);
    border-radius: 2px;
    transition: 0.2s all ease;
  }
  &.clor_gradient .bg-span {
    left: calc(50% - 2px);
  }
  span {
    flex: 1;
    text-align: center;
    padding: 5px 9px;
    color: #504f4f;
    cursor: pointer;
    position: relative;
    font-size: 13px;
    &.selected {
      color: white;
    }
  }
}
// icon border setting
.icon-border-setting {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  margin-top: -15px;
  .ul-dimension-tool {
    margin: 0;
  }
}
