.block-editor-block-list__block[data-type="unlimited-blocks/slide"] {
  margin: auto;
}
// .ubl-slick-slider-block {
//   min-height: 300px;
// }
.ubl-panel-container {
  .components-color-picker__inputs-wrapper {
    min-width: unset;
  }
}
.ubl-block-slide-wrapper {
  border: 1px solid #c5c5c5;
  .ubl-slider-bullet {
    border-bottom: 1px solid #c5c5c5;
  }
}

.ubl-slider-wrapper {
  position: relative;
  height: 300px;
  .ubl-slider-container {
    position: relative;
    height: 100%;
  }
}
.ubl-slider-content-wrapper {
  height: 100%;
  position: relative;
  .ubl-slider-image-container {
    position: absolute;
    background-color: green;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
  }
  .ubl-slider-overlay-color {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
  }
  .ubl-slider-text {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 4;
    &.left {
      justify-content: left;
    }
    &.center {
      justify-content: center;
      div {
        text-align: center;
      }
      .button-container {
        justify-content: center;
      }
    }
    &.right {
      justify-content: flex-end;
      div {
        text-align: right;
      }
      .button-container {
        justify-content: flex-end;
      }
    }
    > div {
      padding: 20px;
      // margin: 0;
      display: flex;
      flex-direction: column;
      grid-gap: 15px;
      h1,
      h2 {
        margin: 0;
        line-height: 1;
      }
      .button-container {
        margin: inherit;
        display: flex;
        align-items: center;
        grid-gap: 10px;
        span {
          display: block;
          background: #fd9a34;
          padding: 5px 10px;
          text-decoration: none;
          color: white;
          letter-spacing: 1px;
        }
      }
    }
  }
}
.ubl-slider-panel {
  .flex-section-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    > p {
      background-color: unset;
      padding: unset;
    }
    select {
      width: 100px;
      padding: 0 6px;
      font-size: 12px;
    }
  }
  // .slides-option {

  // }
}
.add-new-slide {
  span {
    display: block;
    margin: 18px auto 0px auto;
    width: fit-content;
    color: #6d6d6d;
    box-shadow: 0px 0px 3px 2px #efefef;
    padding: 6px 19px;
    font-size: 13px;
    border-radius: 4px;
    cursor: pointer;
    i {
      margin-right: 6px;
      font-size: 10px;
      box-shadow: 0px 0px 3px 2px #aba9a9;
      border-radius: 50%;
      line-height: 16px;
      width: 16px;
      text-align: center;
      padding-left: 1px;
    }
  }
}
.slide-panel-single {
  margin: 10px 0;
  box-shadow: 0px 0px 3px 2px #efefef;
  border-radius: 5px;

  .slide-nav {
    display: flex;
    padding: 13px 14px;
    color: #6d6d6d;
    letter-spacing: 0.5px;
    > span {
      flex: 1;
    }
    .caret {
      width: 10%;
      border-left: 1px solid #eaeaea;
      margin: -13px 0;
      padding: 13px 0 0 13px;
      text-align: center;
      color: inherit;
      i {
        transform: rotate(-90deg);
        transition: 0.3s transform;
      }
    }
    .controlls {
      width: 20%;
      text-align: center;
      span {
        cursor: pointer;
        &:hover {
          color: #bf4541;
        }
      }
    }
  }
  .slides-element {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: padding 0.2s ease, max-height 0.4s ease, opacity 0.3s ease,
      overflow 0.7s linear;
    .text_ {
      display: flex;
      flex-direction: column;
      grid-gap: 10px;
      margin-bottom: 10px;
      label {
        font-weight: bold;
      }
      textarea {
        border: 1px solid #dddcdc;
        width: 100%;
        color: #505050;
        letter-spacing: 0.5px;
        min-height: 105px;
      }
    }
  }
  &.active {
    .slide-nav {
      box-shadow: 0px 0px 2px 1px #efefef;
      .caret {
        i {
          transform: rotateY(0);
        }
      }
    }
    .slides-element {
      padding: 10px;
      max-height: 10000px;
      overflow: unset;
      opacity: 1;
    }
  }
}
// slick slider
.ubl-slick-slider-block {
  // arrow
  .ubl-slick-slider-arrow {
    position: absolute;
    z-index: 1000;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: white;
    font-size: 20px;
    // i {
    //   visibility: visible;
    // }
    &.prev_ {
      left: 12px;
    }
    &.next_ {
      right: 12px;
    }
  }
  // dots
  ul.slick-dots[data-class="ubl-slick-slider-dots"] {
    position: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    grid-gap: 10px;
    li.custonLi_ {
      display: block;
      height: unset;
      width: unset;
      margin: 0;
      span {
        height: 15px;
        width: 15px;
        background: #6f6e6e;
        display: block;
        border-radius: 50%;
      }
      &.slick-active {
        span {
          background: #fc9a34;
        }
      }
    }
  }
}
