.ubl-slider-content-wrapper {
  position: relative;
  height: 100%;
  height: 300px;

  .ubl-slider-container {
    position: relative;
    height: 100%;
  }
  .ubl-slider-image-container {
    position: absolute;
    background-color: green;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
  }
  .ubl-slider-overlay-color {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
  }
  .ubl-slider-text {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 4;
    &.left {
      justify-content: left;
    }
    &.center {
      justify-content: center;
      div {
        text-align: center;
      }
    }
    &.right {
      justify-content: flex-end;
      div {
        text-align: right;
      }
    }
    > div {
      padding: 20px;
      margin: 0;
      h1,
      h2 {
        margin: inherit;
      }
      .button-container {
        margin: inherit;
        display: flex;
        align-items: center;
        a {
          margin-right: 10px;
          display: block;
          background: #fd9a34;
          padding: 5px 10px;
          text-decoration: none;
          color: white;
          letter-spacing: 1px;
        }
      }
    }
  }
}
.ubl-slick-slider-block {
  // arrow
  .ubl-slick-slider-arrow {
    position: absolute;
    z-index: 1000;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: white;
    font-size: 20px;
    &.prev_ {
      left: 12px;
    }
    &.next_ {
      right: 12px;
    }
  }
  // dots
  ul.slick-dots[data-class="ubl-slick-slider-dots"] {
    position: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    grid-gap: 10px;
    li.custonLi_ {
      display: block;
      height: unset;
      width: unset;
      margin: 0;
      span {
        height: 15px;
        width: 15px;
        background: #6f6e6e;
        display: block;
        border-radius: 50%;
      }
      &.slick-active {
        span {
          background: #fc9a34;
        }
      }
    }
  }
}
