.ubl-post-slider-wrapper {
  * {
    font-family: "Catamaran-Regular", sans-serif;
  }
  margin: auto;
  // ubl-slider-image-container
  .ubl-slider-container {
    padding: 0 4px;
  }
  .ubl-post-image-container {
    background-color: white;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
    min-height: 150px;
    img {
      width: 100%;
    }
  }
  // ubl-slider-overlay-color
  .ubl-post-overlay-color {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
    top: 0;
    left: 0;
  }

  .ubl-post-slider-text {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 10;
    background: transparent;
    top: 0;
    width: 100%;
    left: 0;
    justify-content: center;
    &.left {
      justify-content: left;
    }
    &.center {
      justify-content: center;
      div {
        text-align: center;
      }
    }
    &.right {
      justify-content: flex-end;
      div {
        text-align: right;
      }
    }
  }

  .slider-post-content {
    // padding: 0;
    // width: 100%;
    .post-wrapper {
      padding: 20px;
      &.content-align-center {
        .post-heading,
        ._post-excerpt,
        .post-category {
          text-align: center;
        }
        .post-meta-all,
        .post-tags {
          justify-content: center;
        }
      }
      &.content-align-right {
        .post-heading,
        ._post-excerpt,
        .post-category {
          text-align: right;
        }
        .post-meta-all,
        .post-tags {
          justify-content: flex-end;
        }
      }
    }
    .post-content {
      .post-meta-all {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        p + p::before {
          content: "/";
          margin: 0 5px;
        }
      }
      p,
      h1,
      h2,
      h3 {
        line-height: 1.5;
        margin: 6px 0;
        letter-spacing: 1px;
        color: white;
      }
      p {
        // &.post-author {
        //   font-size: 13px;
        //   letter-spacing: 1.2px;
        // }
        // &.post-date,
        // &.post-date-last-modified {
        //   letter-spacing: 1.2px;
        //   font-size: 14px;
        //   display: flex;
        // }
        &.post-category {
          display: block;
          span {
            margin: 1px 5px;
            padding: 3px 4px;
            color: white;
            background: #ff5e00;
            font-size: 13px;
            text-transform: capitalize;
            line-height: 1;
            &:nth-child(n + 2) {
              background: #1a609c;
            }
            &:nth-child(n + 3) {
              background: #9e710c;
            }
            &:nth-child(n + 4) {
              background: #6a7f6a;
            }
            &:first-child {
              margin: 1px 0;
            }
          }
        }
        &.post-tags {
          display: flex;
          flex-wrap: wrap;
          span {
            border: 1px solid;
            margin: 1px 7px;
            font-size: 13px;
            padding: 1px 11px;
            &:first-child {
              margin: 1px 0;
            }
          }
        }
      }
    }
  }
}
