.ubl-slider-ul-slides .ubl-slider-content-wrapper {
  * {
    font-family: "Catamaran-Regular", sans-serif;
  }
  .ubl-slider-text {
    align-items: center;
  }
  div.slider-post-content {
    padding: 0;
    width: 100%;
    .post-wrapper {
      padding: 30px;
      &.content-align-center {
        .post-heading,
        .post-excerpt {
          text-align: center;
        }
        .post-meta-all,
        .post-tags,
        .post-category {
          justify-content: center;
        }
      }
      &.content-align-right {
        .post-heading,
        .post-excerpt {
          text-align: right;
        }
        .post-meta-all,
        .post-tags,
        .post-category {
          justify-content: flex-end;
        }
      }
    }
    .post-content {
      .post-meta-all {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .slash {
          color: #cec4c4;
          margin: 1px 5px;
        }
      }
      a {
        color: inherit;
        display: block;
      }
      p,
      h1,
      h2,
      h3 {
        line-height: 1.5;
        margin: 6px 0;
        letter-spacing: 1px;
        color: white;
        -webkit-font-smoothing: initial;
      }
      p {
        &.post-author {
          font-size: 13px;
          letter-spacing: 1.2px;
        }
        &.post-date,
        &.post-date-last-modified {
          letter-spacing: 1.2px;
          font-size: 14px;
          display: flex;
        }
        &.post-category {
          display: flex;
          span {
            margin: 1px 5px;
            padding: 3px 4px;
            color: white;
            background: #ff5e00;
            font-size: 13px;
            text-transform: capitalize;
            line-height: 1;
            &:nth-child(2) {
              background: #1a609c;
            }
            &:nth-child(3) {
              background: #9e710c;
            }
            &:nth-child(4) {
              background: #6a7f6a;
            }
            &:first-child {
              margin: 1px 0;
            }
          }
        }
        &.post-tags {
          display: flex;
          flex-wrap: wrap;
          span {
            border: 1px solid;
            margin: 1px 7px;
            font-size: 13px;
            padding: 1px 11px;
            &:first-child {
              margin: 1px 0;
            }
          }
        }
      }
    }
  }
}
.ubl-slider-bullet-trigger.thumbnail-image {
  li {
    transition: 0.5s all linear;
    > div {
      height: 60px;
      width: 76px;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
      }
    }
    &.selected_ {
      box-shadow: 0px 0px 4px 4px #797979;
    }
  }
}
@media only screen and (max-width: 768px) {
  .ubl-slider-ul-slides .ubl-slider-content-wrapper {
    div.slider-post-content {
      .post-wrapper {
        padding: 18px;
      }
      .post-content {
        .post-meta-all {
          .slash {
            margin: 1px 5px;
          }
        }
        p,
        h1,
        h2,
        h3 {
          line-height: 1.5;
          margin: 6px 0;
          letter-spacing: 1px;
        }
        p {
          line-height: 1.2 !important;
          margin-bottom: 3px !important;
          letter-spacing: 1.5px;
          font-size: 12px;
          &.post-category {
            span {
              margin: 1px 2px;
            }
          }
          &.post-tags {
            span {
              margin: 1px 2px;
              font-size: 10px;
              padding: 1px 5px;
            }
          }
        }
      }
    }
  }
}
// slider

.ubl-block-slide-wrapper {
  margin: 0 auto 30px;
  opacity: 0;
  .ubl-slider-container {
    position: relative;
    height: 100%;
    overflow: hidden;
  }
  .ubl-slider-bullet-next-prev {
    position: absolute;
    z-index: 1000;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    span {
      color: white;
      padding: 12px;
      display: flex;
      align-items: center;
    }
    &.next {
      right: 0;
    }
    &.prev {
      left: 0;
    }
  }
  ul {
    &.ubl-slider-ul-slides,
    &.ubl-slider-bullet-trigger {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    &.ubl-slider-bullet-trigger {
      display: flex;
      justify-content: center;
      position: absolute;
      width: 100%;
      bottom: 18px;
      z-index: 100;
      &.trigger_out {
        position: unset;
      }
      li {
        display: block;
        margin: 10px;
        cursor: pointer;
        span {
          width: 22px;
          height: 22px;
          display: block;
          background-color: #f39a3e;
          border-radius: 50%;
        }
        &.selected_ {
          span {
            background-color: red;
          }
        }
      }
    }
    &.ubl-slider-ul-slides.fadeEffect {
      min-height: 360px;
      position: relative;
      li {
        min-height: 360px;
        background-color: white;
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: 0.7s opacity linear;
        &.selected_ {
          opacity: 1;
        }
      }
    }
    &.ubl-slider-ul-slides.slideEffect {
      display: flex;
      li {
        min-height: 360px;
        flex: 1;
        margin: 0 !important;
      }
    }
  }
}

.ubl-slider-wrapper {
  position: relative;
  height: 100%;
}
.ubl-slider-content-wrapper {
  height: 100%;
  position: relative;
  .ubl-slider-image-container {
    position: absolute;
    background-color: green;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
  }
  .ubl-slider-overlay-color {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
  }
  .ubl-slider-text {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 4;
    &.left {
      justify-content: left;
    }
    &.center {
      justify-content: center;
      div {
        text-align: center;
      }
    }
    &.right {
      justify-content: flex-end;
      div {
        text-align: right;
      }
    }
    > div {
      padding: 20px;
      margin: 0;
      h1,
      h2 {
        margin: inherit;
      }
      .button-container {
        margin: inherit;
        display: flex;
        align-items: center;
        a {
          margin-right: 10px;
          display: block;
          background: #fd9a34;
          padding: 5px 10px;
          text-decoration: none;
          color: white;
          letter-spacing: 1px;
        }
      }
    }
  }
}
