.ubl-section-post {
  .post-five-layout-2.parent-column-two
    > div:last-child
    .block-post-article
    .post-content {
    min-height: 404px;
  }
  .post-five-layout-2.parent-column-two
    > div:first-child
    .block-post-article
    .post-content {
    min-height: 202px;
  }
  .post-five-layout-3.parent-column-two {
    > article {
      width: 20%;
    }
    &.content-placed-outer {
      .post-wrapper {
        flex-direction: column;
      }
      .post-content {
        min-height: unset;
      }
      .featured-image {
        position: relative;
        min-height: 322px;
      }
    }
  }
}
// for post layout 4 & 5
.post-layout-4,
.post-layout-1-5 {
  .featured-image {
    overflow: hidden;
    img {
      transition: 0.4s all ease;
      // transform: scale(1.5);
    }
  }
  article {
    &:hover {
      .featured-image {
        img {
          transform: scale(1.2);
        }
      }
    }
  }
}
