.ubl-section-post {
  .post-five-layout-2.parent-column-two
    > div:last-child
    .block-post-article
    .post-content {
    min-height: 404px;
  }
  .post-five-layout-2.parent-column-two
    > div:first-child
    .block-post-article
    .post-content {
    min-height: 202px;
  }
  .post-five-layout-3.parent-column-two {
    > article {
      width: 20%;
    }
    &.content-placed-outer {
      .post-wrapper {
        flex-direction: column;
      }
      .post-content {
        min-height: unset;
      }
      .featured-image {
        position: relative;
        min-height: 322px;
      }
    }
  }
}
