.ubl-section-post {
  * {
    font-family: "Catamaran-Regular", sans-serif;
    box-sizing: border-box;
  }
  .parent-column-two {
    display: flex;
    > div {
      width: 50%;
      &:first-child {
        .block-post-article .post-content {
          min-height: 404px;
        }
      }
      &:last-child {
        .block-post-article .post-content {
          min-height: 200px;
        }
      }
    }
    &.count-5 {
      > div {
        // &:first-child {
        //   width: 40%;
        //   .block-post-article .post-content {
        //     min-height: 548px;
        //   }
        // }
        &:last-child {
          // width: 60%;
          min-height: 150px;
        }
      }
    }
  }
  .column-count {
    display: flex;
    flex-wrap: wrap;
    & article {
      padding: 2px;
      max-width: 700px;
      width: 100%;
    }
    &.column-count-1 {
      flex-direction: column;
      width: 100%;
    }
    &.column-count-2 {
      > .block-post-article {
        width: 50%;
      }
    }
    &.column-count-3 {
      > .block-post-article {
        width: calc(100% / 3);
      }
    }
  }
  .block-post-article {
    display: block;
    .post-wrapper {
      display: flex;
      position: relative;
      .featured-image {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 10;
        img {
          height: 100%;
          position: absolute;
          object-fit: cover;
          width: 100%;
        }
      }
      .post-content-overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 20;
      }
      .post-content {
        position: relative;
        // background: #e2dede;
        min-height: 396px;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        padding: 16px;
        width: 100%;
        z-index: 100;
      }
    }
  }
}
