.ubl-blocks-cw-column {
  .ubl-blocks-cw-column-wrap {
    position: relative;
    overflow: auto;
    .ubl-blocks-cw-column-overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }
    .ubl-blocks-cw-column-content {
      // position: relative;
      z-index: 1000;
    }
  }
}
.ubl-blocks-cw-column-content.ul_has_column_children {
  > .block-editor-inner-blocks {
    > .block-editor-block-list__layout > .block-list-appender {
      button.block-editor-button-block-appender {
        border-radius: 4px;
        background: black;
        color: white;
        padding: 1px;
        // opacity: 0;
        // transition: 0.2s all linear;
      }
    }
  }

  // &:hover {
  //   > .block-editor-inner-blocks {
  //     > .block-editor-block-list__layout > .block-list-appender {
  //       button.block-editor-button-block-appender {
  //         opacity: 1;
  //       }
  //     }
  //   }
  // }
}
