.wp-block-ubl-blocks-icon-block.themehunk-icon-block,
.wp-block-ubl-blocks-icon-image-content.service-section-wrapper,
.wp-block-ubl-blocks-pricing-table-table.pricing-table-wrapper,
.wp-block-ubl-blocks-progress-block.thk-progress-bar-wrapper,
.wp-block-ubl-blocks-progress-bar-pie.thk-progress-bar-wrapper-pie,
.ubl-block-slide-wrapper,
.ubl-block-post.ubl-image-section,
.ubl-two-col-container,
.ubl-section-post,
.ubl-block-post.ubl-image-section,
.ubl-section-post {
  margin-top: 28px;
  margin-bottom: 28px;
}
.ubl-section-post {
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
}
// post common
#ubl-section-post {
  position: relative;
  *:not(i) {
    font-family: "Catamaran-Regular", sans-serif;
    -webkit-font-smoothing: initial;
  }
  .parent-column-two {
    display: flex;
    > div {
      width: 50%;
      &:first-child {
        .block-post-article .post-content {
          min-height: 404px;
        }
      }
      &:last-child {
        .block-post-article .post-content {
          min-height: 200px;
        }
      }
    }
    &.count-5 {
      > div {
        &:last-child {
          // width: 60%;
          min-height: 150px;
        }
      }
    }
  }
  .column-count {
    display: flex;
    flex-wrap: wrap;
    & article {
      padding: 2px;
      
      width: 100%;
    }
    &.column-count-1 {
      flex-direction: column;
      width: 100%;
    }
    &.column-count-2 {
      > .block-post-article {
        width: 50%;
      }
    }
    &.column-count-3 {
      > .block-post-article {
        width: calc(100% / 3);
      }
    }
  }
  .block-post-article {
    display: block;
    .post-wrapper {
      display: flex;
      position: relative;
      .featured-image {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 10;
        img {
          height: 100%;
          position: absolute;
          object-fit: cover;
          width: 100%;
        }
      }
      .post-content-overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 20;
      }
      .post-content {
        position: relative;
        // background: #e2dede;
        min-height: 396px;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        padding: 16px;
        width: 100%;
        z-index: 200;
      }
    }
  }
  #post-wrapper {
    .post-content {
      .post-meta-all {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .slash {
          color: #cec4c4;
          margin: 1px 5px;
        }
      }
      a {
        font-size: inherit;
        color: inherit;
        text-decoration: none;
        display: block;
        border-bottom: 1px dotted transparent;
        transition: 0.5s border ease;
        margin-bottom: -1px;
        &:hover {
          border-color: #a7a3a3;
        }
      }
      .post-heading {
        margin: 5px 0;
        line-height: 1.2;
        font-weight: 600;
      }
      p,
      h1,
      h2,
      h3 {
        line-height: 1.5;
        margin: 6px 0;
        letter-spacing: 1px;
      }
      p {
        &.post-author {
          font-size: 13px;
          letter-spacing: 1.2px;
        }

        &.post-date,
        &.post-date-last-modified {
          letter-spacing: 1.2px;
          font-size: 14px;
          display: flex;
        }
        &.post-category {
          display: flex;
          flex-wrap: wrap;
          margin: 10px 0;
          span {
            margin: 1px 5px;
            padding: 3px 4px;
            color: white;
            background: #ff5e00;
            font-size: 13px;
            text-transform: capitalize;
            &:nth-child(2) {
              background: #1a609c;
            }
            &:nth-child(3) {
              background: #9e710c;
            }
            &:nth-child(4) {
              background: #6a7f6a;
            }
            &:first-child {
              margin-left: 0;
            }
          }
        }
        &.post-tags {
          display: flex;
          flex-wrap: wrap;
          span {
            border: 1px solid;
            margin: 1px 7px;
            font-size: 13px;
            padding: 1px 11px;
            &:first-child {
              margin: 1px 0;
            }
          }
        }
      }
    }
  }
}
